@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Products</h1>
<div class="container-fluid">
    <table model-type="typeof(TransPoster.Mvc.Data.Products.ProductViewModel)"
           add-first-column="false"
           class="table table-striped table-bordered table-hover dataTable"
           id="products-table"></table>
</div>

@section Styles{
    <link rel="stylesheet" href="~/lib/bootstrap-multiselect/bootstrap-multiselect.css" />
}

@section Scripts{
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/js/dataTables/datatables.render.js"></script>

    <script>

        $(function(){
            const tableElem = $('#products-table');
            const columns = getColumnsFromDataTable(tableElem);
            const dataTable = tableElem.DataTable({
                serverSide: true,
                ajax: {
                    url: '@Url.Action("IndexTable")',
                    type: "POST"
                },
                columns: columns
            });

            createSearchRow(dataTable);
        });
    </script>
}