@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TransPoster.Mvc.Models.Roles.CreateRoleModel
@{
    ViewData["Title"] = "Create Role";
}
<div class="container mx-auto w-50 mt-5">
    <form class="card card-body" method="post" asp-controller="Roles" asp-action="Create">
        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control form-control-sm" autocomplete="Name" aria-required="true" placeholder="" />
            <label asp-for="Name" class="form-label">Name of role</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <button id="create-role" type="submit" class="w-100 btn btn-info text-light">Create Role</button>
        </div>
    </form>
    <div class="mt-2">
       <a href="@Url.ActionLink("","Roles")" class="btn btn-outline-secondary">Back to list</a>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}