@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Roles";
}

<div class="container p-2">
    <div class="col-sm-3 mb-3">
        <a type="button" href="@Url.ActionLink("Create","Roles")" class="btn btn-success btn-sm">
            <i class="bi-person-plus-fill"></i>&nbsp;Create New Role
        </a>
    </div>
    <table id="roles-table" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <div class="btn-toolbar d-flex justify-content-end" role="toolbar">
                            <div class="btn-group" role="group">
                                <a href="/Roles/Edit/@role.Id" class="btn btn-secondary text-light">Edit</a>
                                <a href="/Roles/Delete/@role.Id" class="btn btn-danger text-light">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script>$('#roles-table').DataTable({
        ordering: false
    });</script>
}

