:root {
    --bg-deep-blue: #0081B4;
    --dark-grey: #EEEEEE;
}

.bg-deep-blue {
    background-color: var(--bg-deep-blue);
}

.bg-dark-grey {
    background-color: var(--dark-grey);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#side-nav {
  flex: 15%;

}

#main-content {
  flex: 85%;
}
