:root {
    --bg-deep-blue: #0081B4;
    --dark-light-grey: rgba(250, 249, 249, 0.95);
    --dark-grey: #DEE2E6;
}

.bg-deep-blue {
    background-color: var(--bg-deep-blue);
}

.bg-dark-grey {
    background-color: var(--dark-light-grey);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
  font-size: 14px;
    list-style: none;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#side-nav {
  flex: 15%;
  border-right: 1px solid var(--dark-grey);
}

#main-content {
  flex: 85%;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item > a{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--dark-grey);
    font-size: 14px;
    color: #5C5C5C !important;
}

.sidebar a {
    color: #5C5C5C !important;
    font-size: 14px;
}

.submenu-nav-item {
    width: 100%;
    list-style: none;
    margin-left: 22px;
}
li.nav-item, li.submenu-nav-item {
    position: relative;
}

li.nav-item.active>a,
li.submenu-nav-item.active>a{
    color: var(--bg-deep-blue) !important;
}


li.nav-item.active:after,
li.submenu-nav-item.active:after
{
    width: 0;
    height: 0;
    border-right: 17px solid var(--bg-deep-blue);
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    content: " ";
    position: absolute;
}

li.nav-item.active:after {
    top: 2px;
    right: 0;
}

li.submenu-nav-item.active:after {
    right: 21px;
    top: 4px;
}