@section Scripts
{
    <script src="~/js/site.js"></script>
}
<div class="container">
    <table>
        <thead>
        <tr>
            <!--Column definitions-->
            <th></th>
        </tr>
        </thead>
    </table>
</div>
